.content {
    position: absolute;
    top: 12rem;
    left: -1.5rem;
}

.vision-height {
    height: 30rem;
}

.col-sm-6 {
    width: unset !important;
} 

/*small mobile*/
@media (min-width: 321px) and (max-width: 375px)  {
    .mobile-fix-row {
        left: 4.5% !important;
        width: 96% !important;
        top: 11rem !important;
    }
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }
    .col-4, .col-6 {
        flex: none;
        width: 100%;
    }

    .col-9 {
        margin-left: auto;
        margin-right: auto;
    }

    .mt {
        margin-top: 15px;
    }

    .vision-height {
        height: unset;
    }

    .mobile-fix-row {
        left: 10.5%;
        width: 80%;
    }

    
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6 {
        width: 50%;
    }
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}

/*windows mobile*/
@media (max-width: 767px) and (min-width: 451px){
}