.banner img {
    height: 30rem;
}


.bottom_banner {
    background-color: rgb(143, 201, 255, 0.2);
    background-size: 100% 100%;
}

.join {
    background-color: #0763E5;
    color: white;
    width: 40%;
}



.vl_1 {
  border-right: 4px dashed #0763E5;
  height: 144px;
  position: absolute;
  top: 128px;
}
.vl_2 {
  border-right: 4px dashed #0763E5;
  height: 144px;
  position: absolute;
  top: 400px;
}
.vl_3 {
  border-right: 4px dashed #0763E5;
  height: 144px;
  position: absolute;
  top: 672px;
}
.vl_4 {
  border-right: 4px dashed #0763E5;
  height: 144px;
  position: absolute;
  top: 944px;
}