.login .form-label {
    font-size: 0.9rem;
}

.login .form-check-label {
    font-size: 0.8rem;
}


.login .form-control {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0, 0.3);
    color: black !important;
}


input[type="email"]:focus {
    background-color: transparent !important;
}

input[type="password"]:focus {
    background-color: transparent !important;
}

input[type="text"]:focus {
    background-color: transparent !important;
}

.login-btn {
    background-color: #0763E5;
    color: white;
}

.login-btn:hover {
    color: white !important;
    background-color: #5c0606;
}



.upload {
    cursor: pointer;
    border: 3px solid #2680EB;
    color: #2680EB;
    font-size: 0.9rem;
    border-radius: 6px;
}

#upload-resume {
    opacity: 0;
    position: absolute;
    z-index: -1;
}


/*mobile-view*/
@media screen and (max-width: 767px) {
    .reverse-row-xs {
        flex-direction: column-reverse;
    }

    .container.login {
        margin-top: 0px;
    }

    .p-0-xs {
        padding-top: 0px;
    }

    .pb-20-xs {
        padding-bottom: 20px;
    }

    .reduce-padding-xs {
        padding: 15px;
    }

    .social-logo {
        width: 40px;
        height: auto;
    }
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {}



/*large screen*/
@media screen and (min-width: 1400px) {}

/*windows mobile*/
@media (max-width: 767px) and (min-width: 451px) {}