.register-title {
    margin-top: 60px;
    margin-bottom: 60px !important;
}

.p-20-md {
    padding: 20px;
}


.reg-error {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 60px;
    width: max-content;
}


/*mobile-view*/
@media screen and (max-width: 767px) {
    .mobile-fix-row {
        flex-direction: column;
    }

    .p-10-xs {
        padding: 10px !important;
    }

    .p-topic-10-xs {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .register-title {
        margin-top: 15px;
        margin-bottom: 15px !important;
    }
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}

/*windows mobile*/
@media (max-width: 767px) and (min-width: 451px){
}



