@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}
p {
    font-size: 0.9rem;
}

.logo {
    height: 3rem;
    object-fit: cover;
}

.main-nav a {
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

.main-nav a:hover {
    border-bottom: 2px solid red;
}

.main-nav a.active {
    border-bottom: 2px solid red;
}

.register-btn {
    border: 1px solid #0763E5!important;
    color: #0763E5!important;
}

.register-btn:hover {
    color: #fff !important;
    background-color: #000;
    border-color: #000 !important;
}


.footer p, .footer .first-column i {
    font-size: 0.8rem;
}

.footer a {
    font-size: 0.8rem;
}

.social i {
    font-size: 2rem;
}

.footer .links a {
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.footer .links a:hover {
    border-bottom: 2px solid white;
}

.footer hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid white;
}

.footer ::placeholder {
    font-size: 0.8rem;
}


.drop-icon {
    padding: 0px 10px;
}

/* Hide Dropdowns by Default */
li.drop-list ul.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    list-style: none;
    background-color: #f8f9fa;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
}

li.drop-list:hover > ul.dropdown{
    display: inherit;
}

li.drop-list ul.dropdown li {
    width:170px;
	float:none;
	display:list-item;
	position: relative;
    padding: 10px;
}



ul.dropdown li a {
    text-decoration: none;
    color: #000;
}

.large-design-title, .large-design-title-about {
    top: -3rem; 
    left: 13%; 
    font-size: 5rem; 
    line-height: 1.2;
}

i.drop-icon.fa.fa-caret-down {
    padding: 0;
}




/*mobile-view*/
@media screen and (max-width: 767px) {
    .large-design-title {
        font-size: 2.5rem;
        top: 1.5rem;
        left: 4%;
    }

    .large-design-title-about {
        font-size: 2.5rem;
        top: -1.5rem;
        left: 14%;
        width: max-content;
    }

    .col-xs-12 {
        width: 100% !important;
        padding: 45px 15px;
    }

    .container {
        margin-top: 3rem;
        margin-bottom: 3rem;    
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light > .container {
        margin-top: 0 !important;
        margin-bottom: 0 !important; 
    }

    /*navigation styles*/

    li.drop-list ul.dropdown {
        position:inherit;
    }

    a.nav-link.p-0.text-dark {
        text-align: center;
    }


    .logo {
        object-fit: contain;
    }
    
    a.navbar-brand {
        width: 50%;
    }

    li.nav-item.px-3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
      /*navigation styles*/

      li.drop-list ul.dropdown {
        position:inherit;
    }

    a.nav-link.p-0.text-dark {
        text-align: center;
    }


    .logo {
        object-fit: contain;
    }
    
    a.navbar-brand {
        width: 50%;
    }

    li.nav-item.px-3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .col-sm-12 {
        width: 100%;
    }
    
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}

/*windows mobile*/
@media (max-width: 767px) and (min-width: 451px){
}



